@page "/help"
@model WiredBrainCoffeeAdmin.Pages.HelpModel
@{
}

<h1 class="h2">Request Help</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
        
    </div>
</div>

@section RightFooter{
   <p>Calls us At: 512-806-5234</p>
}
